@import "tailwindcss";

@layer utilities {
  /* Chrome, Safari, Edge */
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  /* Firefox */
  .scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}